#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
}

#navigation-container:hover {
  width: 15%;
}

/* Initially hide nav-item-name */
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container{
  background-color: black;
  z-index: 999;
  border-right: 1px solid    rgba(255, 255, 255, 0.252)
}
#navigation-container::after{
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #6f00ff1c, #e100ff43) ;
  position: absolute;
  margin-left: -16px;
  margin-top: -16px;
  z-index: -1;

}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}
